<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduGuide</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/icons/robot?s=solid&f=classic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="body">
        <nav>
            <h2 class="logo">Edu<span>Guide</span><i class="fa-light fa-robot"></i></h2>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <button onclick="location.href='{{ url_for('register') }}'">
            <i class="ri-register-box-fill"></i>Register
            </button>

            <button onclick="location.href='{{ url_for('login') }}'">
            <i class="ri-login-box-fill"></i>Login
            </button>


        </nav>
        <div class="content">
            <h2>Confused with your Admission Process?</h2>
            <h3>Don't worry Edu<span>Guide</span> is here to help you.</h3>
            <button onclick="location.href='{{ url_for('chatbot') }}'" type="button" class="btn">Use Chatbot</button>
        </div>
    </div>
    <section class="About">
        <div class="main">
            <img src="/static/artificial-intelligence-ai-robot-gives-recommendation-human-get-automated-response_39422-770.jpg" alt="">
            <div class="About-text">
                <h2>About Chatbot</h2>
                <h4>AI automated educational Chatbot to assist students with the Admission Process therby providing important dates for events and a general idea of  various Colleges and their amenities,brochures and fees structure. </h4>
                <button class="myBtn">Read More</button>
            </div>
        </div>
    </section>
    <div class="Services">
        <div class="title">
            <h3>Our Services</h3>
        </div>

        <div class="box">
            <div class="card">
                <i class="ri-building-4-fill"></i>
                <h5>Admission Process</h5>
                <div class="pra">
                    <p>Automation for all the Adminsitrative procedures in schools</p>

                    <p style="text-align: center;"><a class="button" href="#">Access</a></p>
                </div>
            </div>
            <div class="card">
                <i class="ri-calendar-check-fill"></i>
                <h5>Dates</h5>
                <div class="pra">
                    <p>Track down dates for important Events</p>

                    <p style="text-align: center;"><a class="button" href="#">Access</a></p>
                </div>
            </div>
            <div class="card">
                <i class="ri-book-read-fill"></i>
                <h5>Important Documents</h5>
                <div class="pra">
                    <p>Automation for providing required documents to the User</p>

                    <p style="text-align: center;"><a class="button" href="#">Access</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>