<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="registration">
        <img src="/static/Screenshot_2023-02-04_174653.png" class="avatar">
        <h1>Login Here</h1>
        <form action="/register" method="post">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <p>name</p>
            <input type="text" name="name" placeholder="Enter your name">
            <p>email</p>
            <input type="text" name="email" placeholder="Enter email id">

            <input type="submit" value="register">
            <a href="#">Lost your Password?</a><br>
            <a href="/login">Already an user please login </a>
        </form>

    </div> 